<!DOCTYPE html>
<html>

<head>
	<title>Balmy beach</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/base.css" rel="stylesheet" media="screen">

</head>
	<body>
		<div class = "container ">
				<div class= "bs-docs-header " >
					<h1 class="brand-heading">Kew-Balmy Beach</h1>
					<p class="lead">Current weather and water quality conditions. An E. coli count less than 100 (per 100 ml) is considered safe to swim in Ontario.
					</p>
				</div>

				<div class="col-md-8" >
					<table class="table border: none;">
						<tbody style="font-size:1.5em">
						<tr>
							<td>Air temperature</td>
							<td>{{ airtemps.air_temp }} (&deg C)</td>
						</tr>

						<tr>
							<td>Water temperature</td>
							<td>{{ watertemps.surf_temp}} (&deg C)</td>

						<tr>
							<td>Water Quality</td>
							<td>{{ waterqual.ecoli }}</td>


					</table>	



					<!-- <div class="col-lg-6"> -->
						<!-- <div class="col-md-6">
							<h4>Air temperature</h4>
							<p>{{ airtemps.air_temp }} (&deg C)
							</p>
						</div>
						<div class="col-md-6">
							<h4>Water temperature</h4>
							<p>{{ watertemps.surf_temp }} (&deg C)
							</p>
					</div>
						<div class="col-md-6">
							<h4 >E. coli</h4>
							<p>{{ waterqual.ecoli }} </p>
						</div>	 -->
					<!-- </div> -->
				</div>	
			<!-- 	<div class="footer">
				</div>	 -->

		</div>
	</body	
</html>