<!DOCTYPE html>
<html>

<head>
	<title>Balmy beach</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/base.css" rel="stylesheet" media="screen">

</head>
	<body>
		<div class = "container">
			<div class = "row">
				<div class= "col-md-9 bs-docs-header" >
					<h1>Balmy Beach Water Conditions</h1>
				</div>

				<div class="row">
					<div class="col-md-6">	
						{% block table %}
						<table id = "id_conditions_table" class ="table table-striped">
							<thead>
								<tr>
									<th>Air temperature </th>
									<th>Water temperature </th>
									<th>Water quality</th>
								</tr>
							</thead>
								<tbody>
									<tr>
									<td>{{ airtemps.air_temp }} (&deg C)</td>
									<td>{{ watertemps.surf_temp }} (&deg C)</td>
									<td>{{ waterqual.ecoli }} (ppm)</td>
									</tr>
								</tbody>
						</table>	
						{% endblock %}
					</div>
				</div>	
			</div>
		</div>
	</body	
</html>