<!DOCTYPE html>
<html>

<head>
	<title>Balmy beach swimming conditions</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/base.css" rel="stylesheet" media="screen">

</head>
	<body>
		<div class = "container ">
				<div class= "bs-docs-header " >
					<h1 class="brand-heading">Kew-Balmy Beach</h1>
					<p class="lead">Current conditions. An E. coli count less than 100 (per 100 ml) is considered safe to swim in Ontario.
					</p>
				</div>

				<div class="col-md-8" >
					<table class="table border: none;">
						<tbody>
						<tr>
							<td>Air temperature</td>
							<td>{{ airtemps.air_temp }} (&deg C)</td>
						</tr>

						<tr>
							<td>Water temperature</td>
							<td>{{ watertemps.surf_temp}} (&deg C)
							</td>


						<tr>
							<td>E. coli count</td>
							<td>{{ waterqual.ecoli }}</td>

					</table>	

				</div>	

				<div class="row">
					<div class="col-md-8">
						<p>Latestst update: {{ airtemps.pub_date }}</p>
					</div>
				</div>

		</div>
	</body	
</html>